<div class="panel-heading">
    <nav class="navbar navbar-default">
        <div class="row">
            <ul class="nav row-centered">
                <li>
                    <a href="">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    Previous Week</a>
                </li>
                <li>
                    <a href="">Next Week
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>