<div class="row">
  <div class="col-sm-8 col-sm-offset-4 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <manager-task-nav></manager-task-nav>
      </div>
      <div class="panel-body">
        <manager-task-list
          (editTask)="onEditTask($event)"
        ></manager-task-list>

        <!-- New Task button shown only when edit form is not active -->
        <div class="row text-center" *ngIf="!showEditForm">
            <div class="col-xs-12">
            <a class="btn btn-success pull-right" (click)="onAddTask()">New Task</a>
            </div>
        </div>

        <!-- Task edit form shown only when editing or adding -->
        <div *ngIf="showEditForm">
          <manager-task-edit
            [task]="taskToEdit"
            (editSaved)="onSaveTask($event)"
            (editCanceled)="onCancelEdit()"
          ></manager-task-edit>
        </div>
      </div>
    </div>
  </div>
</div>
