<div class="row">
    <div class="col-sm-8 col-sm-offset-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <nav class="navbar navbar-default">
                    <div class="row">
                        <ul class="nav row-centered">
                            <li><a href="">High Priority</a></li>
                            <li><a href="">Medium Priority</a></li>
                            <li><a href="">Low Priority</a></li>
                        </ul>
                    </div>
                </nav>
        </div>
        <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                <task-manager-task-item
                *ngFor="let taskEl of tasks"
                [task]="taskEl"
                ></task-manager-task-item>
               </div>
            </div>
         </div>
    </div>
</div>