
        <div class="panel-body">
            <div class="row">
               <div class="col-xs-12">
                <task-manager-task-item
                *ngFor="let taskEl of chosenDateTasks"
                [task]="taskEl"
                (taskStatusChange)="onTaskStatusChange($event)"
                ></task-manager-task-item>
               </div>
            </div>
         </div>
         <div class="row text-center">
            <div class="col-xs-12">
                <a class="btn btn-success pull-right" routerLink="new">New Task</a>
            </div>
        </div>
