<div class="panel panel-default">
    <div class="panel-heading">Edit Task</div>
    <div class="panel-body">
<form id="task-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="title">Task:</label>
            <!--ngModel applied here & url for two-way data binding-->
            <input
              type="text"
              id="title"
              name="title"
              class="form-control"
              required
              size="120"
              max="120">
        </div>
    </div>
    <div class="row">
    <div class="col-xs-12 btn-toolbar">
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
        <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
    </div>
    </div>
</form>
    </div>
</div>
